<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
</head>
<body>
    <div class="container ">
        <div class="jumbotron">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Dias Quedados</label>
                        <input id="Dias" for="" type="number" class="form-control" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Monto de Hotel por dia</label>
                        <input id="Hotel" for="" type="number" class="form-control" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Monto de Comida por dia</label>
                        <input id="Comida" for="" type="number" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button id="btn-Monto" class="btn btn-outline-danger btn-block">
                       Realizar Operacion
                    </button>
                </div>
            </div>
            <div id="ResultadoDeMonto" class="alert alert-warning mt-5" role="alert">
                TOTAL DEL CHEQUE
              </div>
        </div>
        </div>
    </div>
    <script src="../js/Monto.js"></script>
</body>
</html>