<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="text-center mt-2">Calificacion de los Alumnos</h1>
    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="">Promedio</label>
              <input id="Promedio1" type="number" class="form-control" />
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="">Promedio</label>
                <input id="Promedio2" type="number" class="form-control" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="">Promedio</label>
                <input id="Promedio3" type="number" class="form-control" />
              </div>
            </div>
          </div>

        <div class="row">
          <div class="col-12">
            <button id="btn-promedio" class="btn btn-outline-warning btn-block">
              Promediar
            </button>
          </div>
        </div>

        <div id="ZonePrint"></div>
      </div>
    </div>

    <script src="../js/Anidada.js"></script>
  </body>
</html>
