<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
</head>
<body>
    <h1 class="text-center mt-2">Metros Cubicos</h1>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="">Igresar la cantidad que quiere convertir</label>
                        <input id="Metros" type="number" class="form-control" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button id="btn-Conversion" class="btn btn-outline-warning btn-block">Realizar Conversion</button>
                </div>
            </div>
            <div id="ResultadoConversion" class="alert alert-warning mt-5" role="alert">
              Resultado de la conversion
              </div>
        </div>
    </div>
    <script src="../js/metros_cubicos.js"></script>
</body>
</html>